src/main/mule/z-students-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4bc58f93-2259-4502-a33c-6006badfc0f8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="z-students-apiFlow" doc:id="5d64e98f-9759-4fc9-9caf-cbf4ffe91767" >
		<http:listener doc:name="Listener" doc:id="b52743b3-c169-43b8-83d4-0dacec2ad3f8" config-ref="HTTP_Listener_config" path="/path"/>
		<set-payload value="this is a message" doc:name="Set Payload" doc:id="136cc2f0-f294-4b98-977e-26c33eea1bbf" />
		<logger level="INFO" doc:name="Logger" doc:id="623b6152-5d11-44ec-aaa8-3ffb89d047c3" message="#[payload]"/>
	</flow>
</mule>
